
#images{
	float:left;
	min-width: 50px; /*suggest a min-width & min-height*/
	min-height: 100px;
}

#polic li{
	min-height: 50px;
	background-position: left;
	background-repeat: no-repeat;
}

#polic li > input{
	margin-top: 17.5px;
}

#polic li:nth-of-type(1){
	background-image: url("img/invisible.png");
}

#polic li:nth-of-type(2){
	background-image: url("img/private.png");
}

#polic li:nth-of-type(3){
	background-image: url("img/public.png");
}

/*#polic li:nth-of-type(1){
	background-image: url("img/locks.png");
}*/

/*#polic li:nth-of-type(4){
	background-image: url("img/connected_visible2.png");
}*/